body {
    background-color: #CFD3CD;
    font-family: 'Monaco';
}


input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}


input,
input::placeholder {
    font-size: 13.5px;
}


#recert_id {
    margin-right: 10px;
}

#setup_id {
    margin-right: 10px;
}
#htn {
    margin-right: 10px;
}
#dm {
    margin-right: 10px;
}

textarea { 
    font-size: 12px; 
}

#hidden_modified {
    display: none;
}

form {
    max-width: 700px;
    display: inline-block;
}

.center-mod {

    

}