body {
    background-color: #CFD3CD;
    font-family: 'Monaco';
}


input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}


input,
input::placeholder {
    font-size: 13.5px;
}


#recert_id {
    margin-right: 10px;
}

#setup_id {
    margin-right: 10px;
}

#htn {
    margin-right: 10px;
}

#dm {
    margin-right: 10px;
}

#finalComment {
    font-size: 12px;
    width: 500px;
    height: 150px;
}

#hidden_modified {
    display: none;

}

form {
    max-width: 650px;
    display: inline-block;
}

.center-mod {}

.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
}