

<hr>
<div class="form-row mt-1">
    <span class="pr-4">Clinician Decision:</span>
        <div class="form-check form-check-inline pl-2">
            <input name='decision' class="form-check-input" type="radio" id="approved">
            <label class="form-check-label" for="approved">Approved</label>
        </div>

        <div class="form-check form-check-inline pl-2">
            <input name='decision' class="form-check-input" type="radio" id="modified">
            <label class="form-check-label" for="modified">Modified</label>
        </div>

        <div class="form-check form-check-inline pl-2">
            <input name='decision' class="form-check-input" type="radio" id="pend">
            <label class="form-check-label" for="pend">Pend</label>
        </div>

        

        
</div>
<div class="form-row mt-3">
    <div class="form-check form-check-inline">
        <button type="submit">Submit</button>
    </div>
    <div class="form-check form-check-inline">
        <button type="button" onclick="copyFunction()">Copy text</button>
    </div>
    
    
</div>