<hr>
<div class="form-row mt-1">
    <span class="pr-5 ">Decision:</span>
    <div class="form-check form-check-inline">
        <input onclick="revealModForm()" name='decision' class="form-check-input" type="radio" id="approved" value='0'>
        <label class="form-check-label" for="approved">Approved</label>
    </div>

    <div class="form-check form-check-inline pl-2">
        <input onclick="revealModForm()" name='decision' class="form-check-input" type="radio" id="modified" value='1'>
        <label class="form-check-label" for="modified">Modified</label>
    </div>

    <div class="form-check form-check-inline pl-2">
        <input onclick="revealModForm()" name='decision' class="form-check-input" type="radio" id="pend" value='2'>
        <label class="form-check-label" for="pend">Pend</label>
    </div>

</div>

<div class="center-mod">
    <div class="form-row mt-1" id="hidden_modified" style="display:none;">
        <div class="form-check form-check-inline pl-2 mt-3">
            <span class="pr-3">Denied:</span>
            <input class="form-check-input" placeholder='start' type="date" name="mod_den_start" id="mod_den_start_id">-
            <input class="form-check-input" placeholder='end' type="date" name="mod_den_end" id="mod_den_end_id">
            <button style='font-size: 12px;' type="button" onclick="calculateServiceDenied()">Service Units</button>
        </div>

        <div class="form-check form-check-inline pl-2 mt-2">
            <span class="">Approved:</span>
            <input class="form-check-input" placeholder='start' type="date" name="mod_app_start" id="mod_app_start_id">-
            <input class="form-check-input" placeholder='end' type="date" name="mod_app_end" id="mod_app_end_id">
            <button style='font-size: 12px;' type="button" onclick="calculateServiceApp()">Service Units</button>
        </div>
    </div>


</div>

<div class="form-row mt-4 row justify-content-between">
    <div class="col-4 form-check form-check-inline"
        style="display: inline-block; margin-left: auto; margin-right: auto">
        <button class='btn btn-success btn-block btn-sm' onlclick='validateForm()' type="submit">Construct</button>
    </div>

    <div class="col-5 form-check form-check-inline"
        style="display: inline-block; margin-left: auto; margin-right: auto">
        <button style="font-size:smaller;" type="button" class="btn btn btn-info" data-toggle="modal" data-target="#myModal">
            MD signature check
        </button>
    </div>


</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">MD signature calculator</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                
                <div class="form-check form-check-inline">
                    <span class="pr-2">MD signature date:</span>
                    <input class="form-check-input" type="date" name="start_date" id="md_date">
                </div>
                <!-- Modal footer -->
                <div class="modal-footer mt-5">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" onclick='mdSignatureCheck()' class="btn btn-primary">Check</button>
                </div>

            </div>
        </div>
    </div>
</div>