<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

</head>

<body>
    {% include 'includes/nav.html' %}
    <div class="container d-flex mt-4">
        <form style="margin-left: auto; margin-right: auto  " name='myForm' method="POST"
            onsubmit="return validateForm()">
            <div class="form-group mx-3">
                {% include 'includes/portal_fax.html' %}
                {% include 'includes/diagnosis.html' %}
                {% include 'includes/procedure_code.html' %}
                {% include 'includes/req_dos.html' %}
                {% include 'includes/decision.html' %}

                <div class="form-group mt-3">
                    <label for="finalComment">Final Comment</label>
                    <textarea class="form-control" id="finalComment" rows="5">{{comment}}</textarea>
                </div>

                <div class="form-check form-check-inline">
                    <button type="button" onclick="copyFunction()">Copy text</button>
                </div>
            </div>
        </form>
    </div>

    <script type='text/javascript' src="{{ url_for('static', filename='js/main.js')}} "></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>