
    <div class="form-row mt-2">
        <div class="form-group col-md-5">
            <label for="portal_input">Portal ID</label>
            <input class="form-control" aria-describedby="portalHelp" type="text" name="portal_id"
                id="portalInput" placeholder="PID">
        </div>
        <div class="form-group col-md-5">
            <label for="fax_input">Fax Number</label>
            <input class="form-control" aria-describedby="faxHelp" type="text" name="fax" id="faxInput"
                placeholder="Fax #">
        </div>
        <div class="form-group col-md-2">
            <label for="age_input">Client age</label>
            <input class="form-control" aria-describedby="faxHelp" type="text" name="age" id="ageInput"
                placeholder="Age">
        </div>
    </div>