<div class="form-row mt-2">
    <span>Procedure Code:</span>
    <div class="form-check form-check-inline pl-4">
        <input type="checkbox" class='from-check-input' name="s9110" id="recert_id">
        <label class="form-check-label" for="recert_id">S9110</label>
    </div>

    <div class="form-check form-check-inline">
        <input type="checkbox" class='from-check-input' name="s9110_U1" id="setup_id">
        <label class="form-check-label" for="setup_id">S9110-U1</label>
    </div>
</div>